<div class="jumbotron text-center">
  <h1 class="display-3">Welcome to GOT characters</h1> 
  <p>Simple node/express/mongo test app</p> 
  <a href="/characters/add" class="btn btn-dark btn-lg">Add character</a>
</div>